# Data cleaning

å…ƒã®ãƒ‡ãƒ¼ã‚¿ã«å¯¾ã—ã€ä»¥ä¸‹ã®å‡¦ç†ã‚’è¡Œã†
- å…¨è§’ãƒ»åŠè§’ã®çµ±ä¸€
- åŒã˜æ„å‘³ã§åˆ¥ã®æ›¸ãæ–¹ã‚’ã—ã¦ã„ã‚‹å‡¦ç†ã®çµ±ä¸€

In [53]:
import re
import unicodedata

import numpy as np
import pandas as pd

In [54]:
path_input = "../data/input/"
path_train = "../data/input/train.csv"
path_test = "../data/input/test.csv"

## Data read

In [55]:
train_df = pd.read_csv(path_train)
test_df = pd.read_csv(path_test)

In [56]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3389 non-null   object
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   object
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   float64
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   float64
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   object
 16  customer_info           3489 non-null   object
 17  ProdTaken               3489 non-null   int64
dtypes: float64(3), int64(5), object(10)
memory usage: 490.8+ KB

In [57]:
for feature in train_df.columns:
    print(feature)
    if feature == "id":
        continue
    print(train_df[feature].unique())

id
Age
['50æ­³' '56æ­³' nan 'ä¸‰åä¸ƒæ­³' '48æ­³' '19æ­³' '47æ­³' '49æ­³' '33æ­³' 'ï¼“ï¼‘æ­³' '51æ­³' '46æ­³'
 'ï¼”ï¼™æ­³' '53æ‰' '20æ­³' '25æ­³' 'äº”åä¸‰æ­³' '20ä»£' '44æ­³' '30æ­³' '34æ­³' '29æ­³' '30ä»£' '41æ­³'
 '50ä»£' '52æ­³' '22æ­³' 'ï¼“ï¼–æ­³' '28æ­³' '25æ‰' 'äº”åä¸€æ­³' '48æ‰' '38æ‰' 'ä¸‰åä¸‰æ­³' '42éš›' 'ï¼•ï¼ä»£'
 '35æ‰' '59æ­³' 'å››åä¸‰æ­³' '32æ­³' 'ï¼”ï¼’æ‰' '53æ­³' '58æ­³' '40ä»£' 'äºŒåå…­æ­³' '52éš›' '54æ­³' '59æ‰'
 '29æ‰' '21æ‰' '57æ­³' '37æ­³' '35æ­³' '36æ‰' '38æ­³' 'ï¼“ï¼—æ­³' '50æ‰' '51æ‰' '43æ­³' 'å››åæ­³'
 '26æ­³' '31æ­³' '27æ­³' '40æ­³' 'ï¼“ï¼”æ­³' '40éš›' '21æ­³' '24æ‰' '45æ­³' '36æ­³' '41æ‰' '38éš›'
 '18æ­³' '39æ­³' 'ï¼”ï¼–æ­³' 'ï¼”ï¼ä»£' 'ï¼•ï¼•æ­³' '58éš›' '24æ­³' '41éš›' 'ä¸‰åä¸€æ­³' '52æ‰' 'ï¼“ï¼ä»£' '28æ‰'
 '55éš›' '60ä»£' '27éš›' 'ï¼“ï¼’æ­³' '60æ­³' 'äº”åå››æ­³' '29éš›' 'ä¸‰åå››æ­³' 'ï¼”ï¼—æ­³' '37éš›' 'äºŒåå››æ­³'
 'å››åä¸ƒæ­³' '58æ‰' '39æ‰' '23æ‰' 'ï¼“ï¼“æ­³' 'ï¼”ï¼’æ­³' 'ï¼”ï¼•æ­³' 'ï¼“ï¼™æ­³' 'ï¼•ï¼”æ­³' '55æ­³' '42æ­³' 'ï¼“ï¼˜æ­³'
 '47æ‰' 'ï¼•ï¼‘æ­³' 'ï¼“ï¼™æ‰' '51éš›' 'äºŒåä¸ƒæ­³' '30æ‰' 'ï¼’ï¼–æ­³' 'ï¼”ï¼æ­³' '36éš›' 'ä¸‰åæ­³' '23æ­³' 'äºŒåäºŒæ­³'
 '37æ‰' 'ï¼“ï¼æ­³' 'ï¼’ï¼˜æ­³' '34æ‰' 'äº”åæ­³' 'å››åä¸€æ­³' 'ï¼•ï¼™æ­³' 'ï¼“ï¼•æ­³' 'ï¼’ï¼’æ­³' 'ï¼“ï¼—æ‰' 'å››åä¹æ­³' '42æ‰'
 'ï¼”ï¼”æ­³' 'ï¼’ï¼•æ­³' '44éš›' '33æ‰' '28éš›' 'ï¼’ï¼”æ‰' '55æ‰' 'ï¼”ï¼˜æ­³' 'å››åå››æ­³' '31æ‰' 'ï¼’ï¼ä»£' 'äºŒåæ­³'
 '22éš›' '31éš›' 'äºŒåä¸‰æ­³' '39éš›' '59éš›' 'ï¼“ï¼“æ‰' 'ä¸‰åå…­æ­³' '10ä»£' 'ï¼’ï¼—æ­³' '49æ‰' 'ï¼”ï¼“æ­³' '32éš›'
 'ï¼”ï¼‘æ­³' '33éš›' 'äºŒåäº”æ­³' '27æ‰' '46éš›' 'äºŒåä¹æ­³' '32æ‰' '22æ‰' 'ï¼’ï¼™æ‰' '43æ‰' 'å››åå…«æ­³'
 '30éš›' 'ï¼’ï¼™æ­³' 'ï¼”ï¼“æ‰' 'ä¸‰åå…«æ­³' 'ï¼”ï¼•æ‰' '45æ‰' 'äºŒåä¸€æ­³' '57æ‰' '40æ‰' 'ï¼•ï¼’æ­³' 'ï¼‘ï¼™æ­³' 'ï¼•ï¼“æ­³'
 '35éš›' '61æ­³' '34éš›' 'ï¼’ï¼”æ­³' 'å››åäºŒæ­³' 'ï¼•ï¼–æ‰' '26éš›' 'ï¼•ï¼æ­³' 'äº”åå…«æ­³' '20æ‰' '50éš›' '57éš›'
 '23éš›' 'ï¼‘ï¼™æ‰' 'ï¼•ï¼—æ­³' '26æ‰' 'äº”åå…­æ­³' '54æ‰' 'ï¼•ï¼˜æ­³' 'ï¼–ï¼æ­³' 'ä¸‰åäº”æ­³' '44æ‰' 'ï¼”ï¼æ‰' 'ï¼’ï¼’æ‰'
 'ï¼”ï¼”æ‰' 'ï¼’ï¼˜æ‰' 'ï¼“ï¼˜æ‰' 'ä¸‰åä¹æ­³' '54éš›' 'äºŒåå…«æ­³' '56éš›' 'äº”åäºŒæ­³' 'ï¼“ï¼–æ‰' '46æ‰' '43éš›'
 'ï¼’ï¼æ­³' 'ï¼”ï¼‘æ‰' '24éš›' '53éš›' '45éš›' '21éš›' '60éš›' 'ï¼’ï¼‘æ­³' 'ï¼“ï¼•æ‰' 'äº”åäº”æ­³' '47éš›' 'ä¸‰åäºŒæ­³'
 '18éš›' 'å››åå…­æ­³' 'ï¼“ï¼”æ‰' '56æ‰' 'ï¼“ï¼’æ‰' 'ï¼•ï¼–æ­³' 'ï¼”ï¼—æ‰' '49éš›' '48éš›' 'ï¼•ï¼‘æ‰' 'äº”åä¹æ­³'
 'å…­åä¸€æ­³' 'ï¼’ï¼‘æ‰']
TypeofContact
['Self Enquiry' 'Company Invited' nan]
CityTier
[2 1 3]
DurationOfPitch
['900ç§’' '14åˆ†' '10åˆ†' '1080ç§’' '1020ç§’' '16åˆ†' '840ç§’' '22åˆ†' '20åˆ†' '11åˆ†' '32åˆ†'
 '17åˆ†' '24åˆ†' '1380ç§’' '35åˆ†' '420ç§’' '5åˆ†' '480ç§’' '8åˆ†' '15åˆ†' '960ç§’' nan '540ç§’'
 '26åˆ†' '13åˆ†' '12åˆ†' '21åˆ†' '25åˆ†' '720ç§’' '9åˆ†' '7åˆ†' '780ç§’' '6åˆ†' '18åˆ†' '31åˆ†'
 '600ç§’' '23åˆ†' '28åˆ†' '2160ç§’' '660ç§’' '1500ç§’' '1920ç§’' '27åˆ†' '33åˆ†' '360ç§’'
 '1320ç§’' '1740ç§’' '1680ç§’' '29åˆ†' '1620ç§’' '1440ç§’' '1800ç§’' '30åˆ†' '34åˆ†' '4åˆ†'
 '19åˆ†' '1860ç§’' '1260ç§’' '2100ç§’' '300ç§’' '2040ç§’' '1200ç§’' '1560ç§’' '1980ç§’'
 '36åˆ†' '1140ç§’']
Occupation
['Large Business' 'Salaried' 'Small Business']
Gender
['male' 'Male' 'Female' 'female' 'ï½†ï½…ï½ï½ï½Œï½…' 'FEMALE' 'ï¼­ï½ï½Œï½…' 'Fe Male' 'MALE'
 'ï½†ï½…\u3000ï½ï½ï½Œï½…' 'fe male' 'ï¼¦ï½…ï½ï½ï½Œï½…' 'ï½ï½ï½Œï½…' 'FE MALE' 'ï¼¦ï½…\u3000ï¼­ï½ï½Œï½…'
 'ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼¦ï¼¥\u3000ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼­ï¼¡ï¼¬ï¼¥']
NumberOfPersonVisiting
[1. 2. 3. 4.]
NumberOfFollowups
[  4.   3.   5.   1.   2. 100.  nan 500. 400.   6. 300. 600.]
ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANá—ARD' 'STANDARD' 'Ğ’asic' 'DELUXE'
 'ê“¢uper De|uxe' 'Ğ…uper Deluxe' 'BAÕIC' 'BasÄ±c' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BÎ‘SIC' 'Bğ–ºsic' 'De|uxe' 'á ELUXE' 'BasiÏ²'
 'de|uÃ—e' 'DeluÃ—e' 'Standarğ”¡' 'Basiğ˜¤' 'Î’asic' 'Õuper Deluxe' 'StaÕ¸dard'
 'BAê“¢IC' 'á—eluxe' 'Õtandard' 'Î’asÄ±ğ˜¤' 'KÄ±ng' 'Baï½“ic' 'basÄ±c' 'super de|uxe'
 'Standğ–ºrd' 'Sğ˜µandard' 'ğŠ¡asic' 'Stğ–ºndard' 'Super á—eluxe' 'de|uxe'
 'ï½“uper deluxe' 'STANDARá ' 'BasiÑ' 'DÎ•LUXÎ•' 'ê“¢uper Deluxe' 'BASÎ™C'
 'ê“¢tandard' 'Ğ’ğ–ºsic' 'Standağ˜³d' 'basiÏ²' 'staÕ¸dard' 'Super á eluxe' 'DELUXÎ•'
 'Ğ…tandard' 'ğŠ¡asiğ˜¤' 'á eluxe' 'KÄ±Õ¸g' 'ğ™³eluxe' 'KiÕ¸g' 'Î’asÄ±c' 'BASIĞ¡'
 'SUPER DÎ•LUXE' 'Bğ–ºsiğ˜¤' 'Î’ASIĞ¡' 'Super ğ™³eluxe' 'Õtandağ˜³d' 'BasÄ±Ï²'
 'Ğ…TANDARD']
PreferredPropertyStar
[3. 4. 5.]
NumberOfTrips
['5' '2' '4' '1' 'å¹´ã«1å›' 'å¹´ã«2å›' 'å¹´ã«6å›' '3' 'å¹´ã«5å›' '7' '6' 'åŠå¹´ã«1å›' 'å¹´ã«4å›'
 'å¹´ã«3å›' '8' 'å¹´ã«8å›' nan 'å¹´ã«7å›' 'å››åŠæœŸã«1å›']
Passport
[1 0]
PitchSatisfactionScore
[4 5 3 2 1]
Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manageğ™§' 'Execuï½”ive'
 'Îœanager' 'VP' 'SĞµnior Manager' 'Î‘VP' 'ĞVP' 'EÃ—ecutive' 'MÎ±nageğ™§'
 'ExecutiÑµĞµ' 'Ğ…enior Manager' 'ManagĞµr' 'Ğ•xecutivĞµ' 'Senior ÎœanÎ±ger'
 'Ğ•xecuï½”ive' 'ExĞµcutivĞµ' 'ExĞµcutive' 'Senior ManagĞµğ™§' 'Manageğ™§'
 'Senioğ™§ Manager' 'ManÎ±ger' 'Îœanageğ™§' 'ManÎ±gĞµr' 'Senior ManagĞµr'
 'ExecutivĞµ' 'ExecutiÑµe' 'Ğ•Ã—Ğµcutive' 'Ğ•xecutive' 'Vï¼°' 'Õenior Îœanager'
 'ExĞµcutiÑµĞµ' 'Senior ManÎ±ger' 'MÎ±nager' 'Senior MÎ±nÎ±ger' 'EÃ—ĞµcutiÑµe'
 'Ğ…enior ManÎ±ger' 'ExĞµcï½•tive' 'Execï½•tive' 'MÎ±nÎ±ger' 'ÎœanagĞµr' 'EÃ—ecï½•tive'
 'SĞµnior ManagĞµr' 'Õenior Manager' 'AVï¼°' 'ExĞµcï½•tivĞµ' 'MÎ±nagĞµr' 'Ğ•xĞµcutivĞµ'
 'Senior MÎ±nager' 'Ğ•Ã—ecutive']
MonthlyIncome
['253905.0' '404475.0' '278145.0' ... '317340.0' '527910.0' '278190.0']
customer_info
['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—' 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—' 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—' ...
 'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº' 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…' 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº']
ProdTaken
[1 0]

## ãã‚Œãã‚Œä¿®æ­£

### Age

In [58]:
# å…¨è§’æ•°å­—ã¨æ¼¢æ•°å­—ã‚’å¤‰æ›ã™ã‚‹é–¢æ•°
def normalize_age(age_str):
    if pd.isna(age_str):
        return age_str

    # æ¼¢æ•°å­—ã‚’ã‚¢ãƒ©ãƒ“ã‚¢æ•°å­—ã«å¤‰æ›
    kanji_to_num = {
        "ç™¾": "100",
        "ä¹åä¹": "99",
        "ä¹åå…«": "98",
        "ä¹åä¸ƒ": "97",
        "ä¹åå…­": "96",
        "ä¹åäº”": "95",
        "ä¹åå››": "94",
        "ä¹åä¸‰": "93",
        "ä¹åäºŒ": "92",
        "ä¹åä¸€": "91",
        "ä¹å": "90",
        "å…«åä¹": "89",
        "å…«åå…«": "88",
        "å…«åä¸ƒ": "87",
        "å…«åå…­": "86",
        "å…«åäº”": "85",
        "å…«åå››": "84",
        "å…«åä¸‰": "83",
        "å…«åäºŒ": "82",
        "å…«åä¸€": "81",
        "å…«å": "80",
        "ä¸ƒåä¹": "79",
        "ä¸ƒåå…«": "78",
        "ä¸ƒåä¸ƒ": "77",
        "ä¸ƒåå…­": "76",
        "ä¸ƒåäº”": "75",
        "ä¸ƒåå››": "74",
        "ä¸ƒåä¸‰": "73",
        "ä¸ƒåäºŒ": "72",
        "ä¸ƒåä¸€": "71",
        "ä¸ƒå": "70",
        "å…­åä¹": "69",
        "å…­åå…«": "68",
        "å…­åä¸ƒ": "67",
        "å…­åå…­": "66",
        "å…­åäº”": "65",
        "å…­åå››": "64",
        "å…­åä¸‰": "63",
        "å…­åäºŒ": "62",
        "å…­åä¸€": "61",
        "å…­å": "60",
        "äº”åä¹": "59",
        "äº”åå…«": "58",
        "äº”åä¸ƒ": "57",
        "äº”åå…­": "56",
        "äº”åäº”": "55",
        "äº”åå››": "54",
        "äº”åä¸‰": "53",
        "äº”åäºŒ": "52",
        "äº”åä¸€": "51",
        "äº”å": "50",
        "å››åä¹": "49",
        "å››åå…«": "48",
        "å››åä¸ƒ": "47",
        "å››åå…­": "46",
        "å››åäº”": "45",
        "å››åå››": "44",
        "å››åä¸‰": "43",
        "å››åäºŒ": "42",
        "å››åä¸€": "41",
        "å››å": "40",
        "ä¸‰åä¹": "39",
        "ä¸‰åå…«": "38",
        "ä¸‰åä¸ƒ": "37",
        "ä¸‰åå…­": "36",
        "ä¸‰åäº”": "35",
        "ä¸‰åå››": "34",
        "ä¸‰åä¸‰": "33",
        "ä¸‰åäºŒ": "32",
        "ä¸‰åä¸€": "31",
        "ä¸‰å": "30",
        "äºŒåä¹": "29",
        "äºŒåå…«": "28",
        "äºŒåä¸ƒ": "27",
        "äºŒåå…­": "26",
        "äºŒåäº”": "25",
        "äºŒåå››": "24",
        "äºŒåä¸‰": "23",
        "äºŒåäºŒ": "22",
        "äºŒåä¸€": "21",
        "äºŒå": "20",
        "åä¹": "19",
        "åå…«": "18",
        "åä¸ƒ": "17",
        "åå…­": "16",
        "åäº”": "15",
        "åå››": "14",
        "åä¸‰": "13",
        "åäºŒ": "12",
        "åä¸€": "11",
        "å": "10",
        "ä¹": "9",
        "å…«": "8",
        "ä¸ƒ": "7",
        "å…­": "6",
        "äº”": "5",
        "å››": "4",
        "ä¸‰": "3",
        "äºŒ": "2",
        "ä¸€": "1",
    }

    for kanji, num in kanji_to_num.items():
        age_str = age_str.replace(kanji, num)

    # å…¨è§’ã‚’åŠè§’ã«å¤‰æ›
    age_str = age_str.translate(str.maketrans("ï¼ï¼‘ï¼’ï¼“ï¼”ï¼•ï¼–ï¼—ï¼˜ï¼™", "0123456789"))

    # ã€Œæ­³ã€ã¨ã€Œæ‰ã€ã‚’ã€Œæ­³ã€ã«çµ±ä¸€
    age_str = age_str.replace("æ‰", "æ­³")
    age_str = age_str.replace("éš›", "æ­³")
    # ã€Œã€œä»£ã€ã‚’ä¸­å¤®å€¤ã«å¤‰æ›ã€ãŸã ã—10ä»£ã¨60ä»£ã ã‘ã¯ä¾‹å¤–ã¨ã—ã¦ä»¥ä¸‹ã®å¤‰æ›
    if "ä»£" in age_str:
        if age_str == "10ä»£":
            return "19æ­³"
        elif age_str == "20ä»£":
            return "25æ­³"
        elif age_str == "30ä»£":
            return "35æ­³"
        elif age_str == "40ä»£":
            return "45æ­³"
        elif age_str == "50ä»£":
            return "55æ­³"
        elif age_str == "60ä»£":
            return "61æ­³"
    return age_str

In [59]:
# å¹´é½¢ã®å‰ã®æ•°å­—ã ã‘ã‚’å–å¾—ã™ã‚‹é–¢æ•°
def extract_number(age_str):
    if pd.isna(age_str):
        return age_str
    # æ­£è¦è¡¨ç¾ã‚’ä½¿ã£ã¦æ•°å­—ã‚’æŠ½å‡º
    match = re.search(r"\d+", age_str)
    return match.group(0) if match else age_str

In [60]:
# ãƒ‡ãƒ¼ã‚¿ã‚’å¤‰æ›ã—ã¦æŠ½å‡º
normalized_data = [normalize_age(age) for age in train_df["Age"]]
extracted_numbers = [extract_number(age) for age in normalized_data]
train_df["Age"] = extracted_numbers

# Age åˆ—ã‚’ int ã«å¤‰æ›
train_df["Age"] = train_df["Age"].astype(float)
train_df["Age"] = train_df["Age"].fillna(np.nan)

print(train_df["Age"].unique())
print(train_df["Age"].value_counts())
print(train_df["Age"].isnull().sum())

[50. 56. nan 37. 48. 19. 47. 49. 33. 31. 51. 46. 53. 20. 25. 44. 30. 34.
 29. 35. 41. 55. 52. 22. 36. 28. 38. 42. 59. 43. 32. 58. 45. 26. 54. 21.
 57. 40. 27. 24. 18. 39. 61. 60. 23.]
35.0    232
45.0    193
36.0    134
55.0    128
33.0    127
37.0    118
34.0    112
31.0    109
32.0    108
38.0    107
39.0    105
25.0     99
42.0     96
40.0     95
41.0     94
43.0     91
30.0     87
51.0     83
52.0     83
50.0     76
46.0     75
29.0     74
28.0     74
53.0     71
47.0     69
48.0     68
49.0     68
26.0     67
44.0     62
54.0     61
27.0     56
56.0     49
22.0     43
24.0     38
23.0     38
57.0     36
21.0     34
58.0     33
20.0     28
59.0     25
60.0     16
19.0     12
61.0      9
18.0      6
Name: Age, dtype: int64
100

In [61]:
# ãƒ‡ãƒ¼ã‚¿ã‚’å¤‰æ›ã—ã¦æŠ½å‡º
normalized_data = [normalize_age(age) for age in test_df["Age"]]
extracted_numbers = [extract_number(age) for age in normalized_data]
test_df["Age"] = extracted_numbers

# Age åˆ—ã‚’ int ã«å¤‰æ›
try:
    test_df["Age"] = test_df["Age"].astype(int)
except ValueError:
    test_df["Age"] = test_df["Age"].fillna(np.nan)

print(test_df["Age"].unique())
print(test_df["Age"].value_counts())
print(test_df["Age"].isnull().sum())

['48' '35' '25' '21' '41' '45' '44' '30' '31' '47' '43' '55' '32' '20'
 '28' '56' '39' '38' '36' nan '37' '34' '33' '46' '42' '27' '29' '59' '19'
 '24' '49' '51' '50' '23' '52' '58' '26' '57' '54' '60' '40' '22' '53'
 '18' '61']
35    237
45    161
33    136
32    126
55    124
36    123
34    122
37    120
31    108
30    107
42    102
39     99
38     99
25     94
40     93
41     92
50     89
28     86
29     84
43     79
47     75
51     73
52     71
46     71
54     70
49     68
44     67
27     66
53     60
24     58
48     57
26     56
57     50
56     48
22     38
23     36
58     30
59     28
21     24
20     19
19     16
60     14
18     11
61      9
Name: Age, dtype: int64
93

### DurationOfPitch

ç§’ã«çµ±ä¸€

In [62]:
# ç§’å˜ä½ã«å¤‰æ›ã™ã‚‹é–¢æ•°
def convert_to_seconds(time_str):
    if pd.isna(time_str):
        return time_str

    if "ç§’" in time_str:
        # 'ç§’'ã‚’å«ã‚€å ´åˆã€ãã®ã¾ã¾æ•°å€¤ã«å¤‰æ›
        return int(re.sub(r"ç§’", "", time_str))

    elif "åˆ†" in time_str:
        # 'åˆ†'ã‚’å«ã‚€å ´åˆã€åˆ†ã‚’ç§’ã«å¤‰æ›
        minutes = int(re.sub(r"åˆ†", "", time_str))
        return minutes * 60

In [63]:
convert_to_sconds_data = [
    convert_to_seconds(time) for time in train_df["DurationOfPitch"]
]
train_df["DurationOfPitch"] = convert_to_sconds_data

print(train_df["DurationOfPitch"].unique())

[ 900.  840.  600. 1080. 1020.  960. 1320. 1200.  660. 1920. 1440. 1380.
 2100.  420.  300.  480.   nan  540. 1560.  780.  720. 1260. 1500.  360.
 1860. 1680. 2160. 1620. 1980. 1740. 1800. 2040.  240. 1140.]

In [64]:
convert_to_sconds_data = [
    convert_to_seconds(time) for time in test_df["DurationOfPitch"]
]
test_df["DurationOfPitch"] = convert_to_sconds_data

print(test_df["DurationOfPitch"].unique())

[ 780.  720.  540.  420.   nan  480.  960. 1320. 1440. 1020.  660. 1380.
  600.  900. 1080.  840. 1140. 1860.  300. 1980.  360. 1680. 1620. 1200.
 1560. 1260. 1740. 2040. 1920. 1800. 2100. 1500.  240. 2160.]

### Gender

In [65]:
# æ€§åˆ¥ã‚’å¤‰æ›ã™ã‚‹é–¢æ•°
def normalize_gender(gender):
    if pd.isna(gender):
        return gender

    # å…¨è§’æ–‡å­—ã‚’åŠè§’æ–‡å­—ã«å¤‰æ›
    gender = gender.translate(
        str.maketrans(
            "ï¼¡ï¼¢ï¼£ï¼¤ï¼¥ï¼¦ï¼§ï¼¨ï¼©ï¼ªï¼«ï¼¬ï¼­ï¼®ï¼¯ï¼°ï¼±ï¼²ï¼³ï¼´ï¼µï¼¶ï¼·ï¼¸ï¼¹ï¼ºï½ï½‚ï½ƒï½„ï½…ï½†ï½‡ï½ˆï½‰ï½Šï½‹ï½Œï½ï½ï½ï½ï½‘ï½’ï½“ï½”ï½•ï½–ï½—ï½˜ï½™ï½š",
            "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz",
        )
    )

    # ç©ºç™½ã‚’å‰Šé™¤
    gender = re.sub(r"\s+", "", gender)

    # å°æ–‡å­—ã«å¤‰æ›ã—ã¦ã‹ã‚‰ã€Male ã¾ãŸã¯ Female ã«çµ±ä¸€
    gender = gender.lower()
    if "female" in gender:
        return "Female"
    elif "male" in gender:
        return "Male"
    else:
        return gender  # äºˆæœŸã—ãªã„å…¥åŠ›ãŒã‚ã‚‹å ´åˆ

In [66]:
train_df["Gender_replace"] = train_df["Gender"].apply(normalize_gender)
print(train_df["Gender_replace"].unique())
print(train_df.groupby(["Gender_replace", "Gender"]).size())
train_df["Gender"] = train_df["Gender_replace"]
train_df = train_df.drop(["Gender_replace"], axis=1)

['Male' 'Female']
Gender_replace  Gender
Female          FE MALE      23
                FEMALE       99
                Fe Male     109
                Female      739
                fe male      29
                female      266
                ï¼¦ï¼¥ã€€ï¼­ï¼¡ï¼¬ï¼¥       1
                ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥       13
                ï¼¦ï½…ã€€ï¼­ï½ï½Œï½…      15
                ï¼¦ï½…ï½ï½ï½Œï½…       89
                ï½†ï½…ã€€ï½ï½ï½Œï½…       6
                ï½†ï½…ï½ï½ï½Œï½…       36
Male            MALE        183
                Male       1226
                male        468
                ï¼­ï¼¡ï¼¬ï¼¥         18
                ï¼­ï½ï½Œï½…        126
                ï½ï½ï½Œï½…         43
dtype: int64

In [67]:
test_df["Gender_replace"] = test_df["Gender"].apply(normalize_gender)
print(test_df["Gender_replace"].unique())
print(test_df.groupby(["Gender_replace", "Gender"]).size())
test_df["Gender"] = test_df["Gender_replace"]
test_df = test_df.drop(["Gender_replace"], axis=1)

['Male' 'Female']
Gender_replace  Gender
Female          FE MALE      20
                FEMALE       98
                Fe Male     104
                Female      702
                fe male      28
                female      238
                ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥        8
                ï¼¦ï½…ã€€ï¼­ï½ï½Œï½…      11
                ï¼¦ï½…ï½ï½ï½Œï½…       92
                ï½†ï½…ã€€ï½ï½ï½Œï½…       5
                ï½†ï½…ï½ï½ï½Œï½…       29
Male            MALE        180
                Male       1299
                male        472
                ï¼­ï¼¡ï¼¬ï¼¥         20
                ï¼­ï½ï½Œï½…        134
                ï½ï½ï½Œï½…         49
dtype: int64

### ProductPitched

In [68]:
# åŠè§’å°æ–‡å­—ã«å¤‰æ›ã™ã‚‹é–¢æ•°
def normalize_to_lowercase(text):
    if pd.isna(text):
        return text

    # Unicodeæ­£è¦åŒ– (NFKD)ã§åˆ†è§£ã—ã¦ã‹ã‚‰å†çµåˆ
    text = unicodedata.normalize("NFKD", text)

    # ASCIIæ–‡å­—ã®ã¿æ®‹ã™
    text = "".join(c for c in text if unicodedata.category(c) != "Mn")

    # å°æ–‡å­—ã«å¤‰æ›
    return text.lower()

In [69]:
# ç½®æ›ãƒãƒƒãƒ”ãƒ³ã‚°
replace_map = {
    "á—": "d",
    "Ğ²": "b",
    "ê“¢": "s",
    "Ñ•": "s",
    "Õ¿": "s",
    "ê­°": "d",
    "Ï‚": "c",
    "Î±": "a",
    "Ã—": "x",
    "Î²": "b",
    "Õ¸": "n",
    "Ä±": "i",
    "c": "c",
    "ğŠ¡": "b",
    "Îµ": "e",
    "Î¹": "i",
    "Ï²": "c",
    "ê“¢": "s",
    "ê­°": "d",
    "Ñ–": "i",
    "Ñ•": "s",
    "|": "l",
    "basiÑ": "basic",
}

In [70]:
# æ–‡å­—ã‚’ç½®æ›ã™ã‚‹é–¢æ•°
def replace_characters(text):
    for original, replacement in replace_map.items():
        text = text.replace(original, replacement)
    return text

In [71]:
train_df["ProductPitched"] = train_df["ProductPitched"].apply(normalize_to_lowercase)
train_df["ProductPitched"] = train_df["ProductPitched"].apply(replace_characters)
# çµ±ä¸€ã™ã‚‹ãŸã‚ã«ã•ã‚‰ã«å°æ–‡å­—åŒ–
train_df["ProductPitched"] = train_df["ProductPitched"].str.lower()
print(train_df["ProductPitched"].unique())

['basic' 'standard' 'super deluxe' 'deluxe' 'king']

In [72]:
test_df["ProductPitched"] = test_df["ProductPitched"].apply(normalize_to_lowercase)
test_df["ProductPitched"] = test_df["ProductPitched"].apply(replace_characters)
# çµ±ä¸€ã™ã‚‹ãŸã‚ã«ã•ã‚‰ã«å°æ–‡å­—åŒ–
test_df["ProductPitched"] = test_df["ProductPitched"].str.lower()
print(test_df["ProductPitched"].unique())

['super deluxe' 'standard' 'basic' 'deluxe' 'king']

## NumberOfFollowups

In [73]:
# å¤–ã‚Œå€¤ã‚’è£œæ­£
def replace_over_100(num):
    if num == 100.0:
        return 1.0
    elif num == 200.0:
        return 2.0
    elif num == 300.0:
        return 3.0
    elif num == 400.0:
        return 4.0
    elif num == 500:
        return 5.0
    elif num == 600:
        return 6.0
    else:
        return num

In [74]:
train_df["NumberOfFollowups"] = train_df["NumberOfFollowups"].apply(replace_over_100)
test_df["NumberOfFollowups"] = test_df["NumberOfFollowups"].apply(replace_over_100)

In [75]:
train_df.groupby("NumberOfFollowups").size()

NumberOfFollowups
1.0      78
2.0     108
3.0    1296
4.0    1411
5.0     524
6.0      39
dtype: int64

In [76]:
test_df.groupby("NumberOfFollowups").size()

NumberOfFollowups
1.0     100
2.0     105
3.0    1265
4.0    1366
5.0     598
6.0      31
dtype: int64

### NumberOfTrips

In [77]:
# ãƒ†ã‚­ã‚¹ãƒˆã‚’æ•°å€¤ã«å¤‰æ›ã™ã‚‹é–¢æ•°
def convert_to_numeric(entry):
    if pd.isna(entry):
        return entry

    # å¹´ã«nå›ã‚’æ•°å­—ã«å¤‰æ›
    match = re.match(r"å¹´ã«(\d+)å›", entry)
    if match:
        return int(match.group(1))

    # åŠå¹´ã«1å›ã¯å¹´ã«2å›ã«ç›¸å½“
    if entry == "åŠå¹´ã«1å›":
        return 2

    # å››åŠæœŸã«1å›ã¯å¹´ã«4å›ã«ç›¸å½“
    if entry == "å››åŠæœŸã«1å›":
        return 4

    # ãã‚Œä»¥å¤–ã®æ•°å­—ã¨ã—ã¦æ‰±ãˆã‚‹éƒ¨åˆ†ã¯ãã®ã¾ã¾è¿”ã™
    if entry.isdigit():
        return int(entry)

    return entry

In [78]:
train_df["NumberOfTrips_num"] = train_df["NumberOfTrips"].apply(convert_to_numeric)
print(train_df.groupby(["NumberOfTrips", "NumberOfTrips_num"]).size())
train_df["NumberOfTrips"] = train_df["NumberOfTrips_num"]
train_df = train_df.drop(["NumberOfTrips_num"], axis=1)

NumberOfTrips  NumberOfTrips_num
1              1.0                   349
2              2.0                  1006
3              3.0                   699
4              4.0                   141
5              5.0                   436
6              6.0                   109
7              7.0                   219
8              8.0                     8
åŠå¹´ã«1å›          2.0                    17
å››åŠæœŸã«1å›         4.0                     3
å¹´ã«1å›           1.0                    60
å¹´ã«2å›           2.0                   141
å¹´ã«3å›           3.0                   121
å¹´ã«4å›           4.0                    19
å¹´ã«5å›           5.0                    79
å¹´ã«6å›           6.0                    21
å¹´ã«7å›           7.0                    37
å¹´ã«8å›           8.0                     2
dtype: int64

In [79]:
test_df["NumberOfTrips_num"] = test_df["NumberOfTrips"].apply(convert_to_numeric)
print(test_df.groupby(["NumberOfTrips", "NumberOfTrips_num"]).size())
test_df["NumberOfTrips"] = test_df["NumberOfTrips_num"]
test_df = test_df.drop(["NumberOfTrips_num"], axis=1)

NumberOfTrips  NumberOfTrips_num
1              1.0                  320
2              2.0                  950
3              3.0                  762
4              4.0                  136
5              5.0                  400
6              6.0                  125
7              7.0                  226
8              8.0                   12
åŠå¹´ã«1å›          2.0                   10
å››åŠæœŸã«1å›         4.0                    3
å¹´ã«1å›           1.0                   72
å¹´ã«2å›           2.0                  153
å¹´ã«3å›           3.0                  124
å¹´ã«4å›           4.0                   31
å¹´ã«5å›           5.0                   62
å¹´ã«6å›           6.0                   26
å¹´ã«7å›           7.0                   31
å¹´ã«8å›           8.0                    4
dtype: int64

### Designation

In [80]:
# ç½®æ›ãƒãƒƒãƒ”ãƒ³ã‚°ã‚’ä½œæˆ
designation_replace_map = {
    "Îœ": "M",
    "Î‘": "A",
    "Ğ": "A",
    "Ñµ": "v",
    "Ğ…": "S",
    "Ğµ": "e",
    "Ğ•": "E",
    "Ñ•": "s",
    "ğ™§": "r",
    "Î±": "a",
    "Ã—": "x",
    "â…¤": "V",
    "ï¼°": "P",
    "Õ": "S",
    "c": "c",
    "u": "u",
    "ï½”": "t",
    "v": "v",
    "Î¼": "m",
    "Ğµ": "e",
    "Î±": "a",
    "Ğ°": "a",
    "Ñµ": "v",
    "Ñ•": "s",
    "Õ¿": "s",
}

In [81]:
# æ–‡å­—ã‚’ç½®æ›ã™ã‚‹é–¢æ•°
def designation_replace_characters(text):
    if pd.isna(text):
        return text
    text = unicodedata.normalize("NFKD", text)  # æ­£è¦åŒ–
    for original, replacement in designation_replace_map.items():
        text = text.replace(original, replacement)
    return text.lower()

In [82]:
train_df["Designation_replace"] = train_df["Designation"].apply(
    designation_replace_characters
)
print(train_df["Designation_replace"].unique())
print(train_df.groupby(["Designation_replace", "Designation"]).size())
train_df["Designation"] = train_df["Designation_replace"]
train_df = train_df.drop(["Designation_replace"], axis=1)

['executive' 'senior manager' 'avp' 'manager' 'vp']
Designation_replace  Designation
avp                  AVP                299
                     AVï¼°                  2
                     Î‘VP                  3
                     ĞVP                  7
executive            Executive         1090
                     ExecutivĞµ            7
                     ExecutiÑµe            6
                     ExecutiÑµĞµ            2
                     Execuï½”ive            5
                     Execï½•tive            1
                     ExĞµcutive           10
                     ExĞµcutivĞµ            9
                     ExĞµcutiÑµĞµ            3
                     ExĞµcï½•tive            2
                     ExĞµcï½•tivĞµ            1
                     EÃ—ecutive            2
                     EÃ—ecï½•tive            1
                     EÃ—ĞµcutiÑµe            1
                     Ğ•xecutive            3
                     Ğ•xecutivĞµ            2
                     Ğ•xecuï½”ive            1
                     Ğ•xĞµcutivĞµ            1
                     Ğ•Ã—ecutive            1
                     Ğ•Ã—Ğµcutive            2
manager              Manager           1011
                     Manageğ™§              3
                     ManagĞµr              8
                     ManÎ±ger              8
                     ManÎ±gĞµr              1
                     MÎ±nager              4
                     MÎ±nageğ™§              2
                     MÎ±nagĞµr              1
                     MÎ±nÎ±ger              2
                     Îœanager             13
                     Îœanageğ™§              1
                     ÎœanagĞµr              1
senior manager       Senior Manager     825
                     Senior Manageğ™§       2
                     Senior ManagĞµr       6
                     Senior ManagĞµğ™§       1
                     Senior ManÎ±ger       4
                     Senior MÎ±nager       1
                     Senior MÎ±nÎ±ger       3
                     Senior ÎœanÎ±ger       1
                     Senioğ™§ Manager       1
                     SĞµnior Manager       3
                     SĞµnior ManagĞµr       1
                     Ğ…enior Manager       2
                     Ğ…enior ManÎ±ger       1
                     Õenior Manager       2
                     Õenior Îœanager       1
vp                   VP                 117
                     Vï¼°                   2
dtype: int64

In [83]:
test_df["Designation_replace"] = test_df["Designation"].apply(
    designation_replace_characters
)
print(test_df["Designation_replace"].unique())
print(test_df.groupby(["Designation_replace", "Designation"]).size())
test_df["Designation"] = test_df["Designation_replace"]
test_df = test_df.drop(["Designation_replace"], axis=1)

['avp' 'senior manager' 'executive' 'manager' 'vp']
Designation_replace  Designation
avp                  AVP                305
                     AVï¼°                  2
                     Î‘VP                  8
                     Î‘Vï¼°                  1
                     ĞVP                  7
                     ĞVï¼°                  1
executive            Executive         1129
                     ExecutivĞµ            9
                     ExecutiÑµe            7
                     Execuï½”ive            1
                     Execï½•tive            3
                     Execï½•tivĞµ            1
                     Execï½•ï½”ive            1
                     ExĞµcutive            9
                     ExĞµcutivĞµ           10
                     ExĞµcuï½”ive            1
                     ExĞµcï½•tivĞµ            1
                     EÃ—ecutive            2
                     Ğ•xecutive            5
                     Ğ•xecï½•tive            1
manager              Manager           1016
                     Manageğ™§              5
                     ManagĞµr             10
                     ManagĞµğ™§              1
                     ManÎ±ger              8
                     ManÎ±gĞµr              1
                     MÎ±nager              9
                     MÎ±nagĞµr              1
                     MÎ±nÎ±ger              2
                     MÎ±nÎ±gĞµr              1
                     Îœanager              5
                     ÎœÎ±nager              2
                     ÎœÎ±nagĞµr              1
senior manager       Senior Manager     740
                     Senior Manageğ™§       3
                     Senior ManagĞµr       6
                     Senior ManagĞµğ™§       1
                     Senior ManÎ±ger       2
                     Senior MÎ±nager       1
                     Senior MÎ±nÎ±ger       1
                     Senior Îœanager       2
                     Senioğ™§ Manager       5
                     Senioğ™§ Manageğ™§       1
                     Senioğ™§ ManagĞµr       1
                     Senioğ™§ ManÎ±ger       1
                     Senioğ™§ MÎ±nageğ™§       1
                     SĞµnior Manager       4
                     SĞµnior ManagĞµr       1
                     SĞµnior ManagĞµğ™§       1
                     SĞµnioğ™§ Manager       1
                     Ğ…enior Manager       2
                     Ğ…enior Îœanageğ™§       1
                     Õenior Manager       2
                     Õenior Îœanager       1
vp                   VP                 142
                     Vï¼°                   3
dtype: int64

### MonthlyIncome

In [84]:
# æ•°å€¤ã«å¤‰æ›ã™ã‚‹é–¢æ•°
def convert_to_num_income(entry):
    if pd.isna(entry):
        return entry

    # ã€ŒæœˆåXX.XXä¸‡å††ã€ã®å½¢å¼ã‚’èªè­˜ã—ã€å¹´åã«å¤‰æ›
    match = re.match(r"æœˆå(\d+\.?\d*)ä¸‡å††", str(entry))
    if match:
        monthly_income = float(match.group(1)) * 10000  # ä¸‡å††ã‚’å††ã«å¤‰æ›
        return float(monthly_income)

    # ãã‚Œä»¥å¤–ã¯ãã®ã¾ã¾è¿”ã™ï¼ˆã™ã§ã«æ•°å€¤ã®ã‚‚ã®ï¼‰
    return float(entry)

In [85]:
train_df["MonthlyIncome"] = train_df["MonthlyIncome"].apply(convert_to_num_income)

In [86]:
test_df["MonthlyIncome"] = test_df["MonthlyIncome"].apply(convert_to_num_income)

### customer_info

#### split

In [87]:
train_df["customer_info"].unique()

array(['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—', 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—', 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—', ...,
       'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº', 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…', 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº'],
      dtype=object)

In [88]:
def split_customer_info(info):
    info_list = re.split("[ ,ã€/ï¼\n\t\u3000]", info)
    return info_list[0], info_list[1], info_list[2]

In [89]:
train_df[["customer_marriage", "customer_car", "customer_child"]] = [
    split_customer_info(info) for info in train_df["customer_info"]
]
train_df = train_df.drop(["customer_info"], axis=1)

In [90]:
test_df[["customer_marriage", "customer_car", "customer_child"]] = [
    split_customer_info(info) for info in test_df["customer_info"]
]
test_df = test_df.drop(["customer_info"], axis=1)

In [91]:
train_df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,ProdTaken,customer_marriage,customer_car,customer_child
0,0,50.0,Self Enquiry,2,900.0,Large Business,Male,1.0,4.0,basic,3.0,5.0,1,4,executive,253905.0,1,æœªå©š,è»Šæœªæ‰€æŒ,å­ä¾›ãªã—
1,1,56.0,Company Invited,1,840.0,Salaried,Male,1.0,4.0,standard,3.0,2.0,1,4,senior manager,404475.0,0,é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—
2,2,NaN,Self Enquiry,1,600.0,Large Business,Female,1.0,3.0,basic,3.0,4.0,0,4,executive,278145.0,1,çµå©šæ¸ˆã¿,è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—
3,3,37.0,Self Enquiry,2,1080.0,Small Business,Female,1.0,3.0,standard,4.0,1.0,0,5,senior manager,326805.0,0,é›¢å©šæ¸ˆã¿,è»Šæ‰€æŒ,å­ä¾›ç„¡ã—
4,4,48.0,Company Invited,3,1020.0,Small Business,Female,1.0,3.0,basic,4.0,4.0,0,4,executive,258435.0,1,ç‹¬èº«,è»Šæ‰€æŒ,ç„¡å­

#### customer_marriage

In [92]:
train_df["customer_marriage"].unique()

array(['æœªå©š', 'é›¢å©šæ¸ˆã¿', 'çµå©šæ¸ˆã¿', 'ç‹¬èº«'], dtype=object)

In [93]:
test_df["customer_marriage"].unique()

array(['çµå©šæ¸ˆã¿', 'é›¢å©šæ¸ˆã¿', 'ç‹¬èº«', 'æœªå©š'], dtype=object)

#### customer_car

In [94]:
train_df["customer_car"].unique()

array(['è»Šæœªæ‰€æŒ', 'è»Šã‚ã‚Š', 'è‡ªå‹•è»Šæœªæ‰€æœ‰', 'è»Šæ‰€æŒ', 'è‡ªå®¶ç”¨è»Šã‚ã‚Š', 'è»Šä¿æœ‰', 'è»Šä¿æœ‰ãªã—', 'ä¹—ç”¨è»Šæ‰€æŒ',
       'ä¹—ç”¨è»Šãªã—', 'è‡ªå‹•è»Šæ‰€æœ‰', 'è‡ªå®¶ç”¨è»Šãªã—', 'è»Šãªã—'], dtype=object)

In [95]:
# ç½®æ›ãƒãƒƒãƒ”ãƒ³ã‚°ã‚’ä½œæˆ
car_replace_map = {
    "è»Šæœªæ‰€æŒ": "è‡ªå‹•è»Šæœªæ‰€æœ‰",
    "è»Šä¿æœ‰ãªã—": "è‡ªå‹•è»Šæœªæ‰€æœ‰",
    "ä¹—ç”¨è»Šãªã—": "è‡ªå‹•è»Šæœªæ‰€æœ‰",
    "è‡ªå®¶ç”¨è»Šãªã—": "è‡ªå‹•è»Šæœªæ‰€æœ‰",
    "è»Šãªã—": "è‡ªå‹•è»Šæœªæ‰€æœ‰",
    "è»Šã‚ã‚Š": "è‡ªå‹•è»Šæ‰€æœ‰",
    "è»Šæ‰€æŒ": "è‡ªå‹•è»Šæ‰€æœ‰",
    "è‡ªå®¶ç”¨è»Šã‚ã‚Š": "è‡ªå‹•è»Šæ‰€æœ‰",
    "è»Šä¿æœ‰": "è‡ªå‹•è»Šæ‰€æœ‰",
    "ä¹—ç”¨è»Šæ‰€æŒ": "è‡ªå‹•è»Šæ‰€æœ‰",
}

In [96]:
# è‡ªå‹•è»Šä¿æœ‰æœ‰ç„¡ã‚’ç½®æ›ã™ã‚‹é–¢æ•°
def customer_car_replace_characters(car_hold):
    return car_replace_map.get(car_hold, car_hold)

In [97]:
train_df["customer_car_replace"] = train_df["customer_car"].apply(
    customer_car_replace_characters
)
print(train_df["customer_car_replace"].unique())
print(train_df.groupby(["customer_car_replace", "customer_car"]).size())
train_df["customer_car"] = train_df["customer_car_replace"]
train_df = train_df.drop(["customer_car_replace"], axis=1)

['è‡ªå‹•è»Šæœªæ‰€æœ‰' 'è‡ªå‹•è»Šæ‰€æœ‰']
customer_car_replace  customer_car
è‡ªå‹•è»Šæ‰€æœ‰                 ä¹—ç”¨è»Šæ‰€æŒ           107
                      è‡ªå‹•è»Šæ‰€æœ‰           392
                      è‡ªå®¶ç”¨è»Šã‚ã‚Š          188
                      è»Šã‚ã‚Š              94
                      è»Šä¿æœ‰             104
                      è»Šæ‰€æŒ             819
è‡ªå‹•è»Šæœªæ‰€æœ‰                ä¹—ç”¨è»Šãªã—           109
                      è‡ªå‹•è»Šæœªæ‰€æœ‰          437
                      è‡ªå®¶ç”¨è»Šãªã—          207
                      è»Šãªã—             104
                      è»Šä¿æœ‰ãªã—            98
                      è»Šæœªæ‰€æŒ            830
dtype: int64

In [98]:
test_df["customer_car_replace"] = test_df["customer_car"].apply(
    customer_car_replace_characters
)
print(test_df["customer_car_replace"].unique())
print(test_df.groupby(["customer_car_replace", "customer_car"]).size())
test_df["customer_car"] = test_df["customer_car_replace"]
test_df = test_df.drop(["customer_car_replace"], axis=1)

['è‡ªå‹•è»Šæ‰€æœ‰' 'è‡ªå‹•è»Šæœªæ‰€æœ‰']
customer_car_replace  customer_car
è‡ªå‹•è»Šæ‰€æœ‰                 ä¹—ç”¨è»Šæ‰€æŒ           107
                      è‡ªå‹•è»Šæ‰€æœ‰           397
                      è‡ªå®¶ç”¨è»Šã‚ã‚Š          217
                      è»Šã‚ã‚Š              84
                      è»Šä¿æœ‰              96
                      è»Šæ‰€æŒ             754
è‡ªå‹•è»Šæœªæ‰€æœ‰                ä¹—ç”¨è»Šãªã—           130
                      è‡ªå‹•è»Šæœªæ‰€æœ‰          450
                      è‡ªå®¶ç”¨è»Šãªã—          205
                      è»Šãªã—             101
                      è»Šä¿æœ‰ãªã—           104
                      è»Šæœªæ‰€æŒ            844
dtype: int64

#### customer_child

In [99]:
train_df["customer_child"].unique()

array(['å­ä¾›ãªã—', 'å­ä¾›ç„¡ã—', 'ç„¡å­', 'å­ä¾›ã‚¼ãƒ­', 'éè‚²å…å®¶åº­', 'å­è‚²ã¦çŠ¶æ³ä¸æ˜', 'å­ã®æ•°ä¸è©³',
       'å­ä¾›ã®æ•°ä¸æ˜', 'ã“ã©ã‚‚1äºº', '1å…', 'å­ä¾›1äºº', 'å­ä¾›æœ‰ã‚Š(1äºº)', 'ã‚ã‹ã‚‰ãªã„', 'å­ä¾›æœ‰ã‚Š',
       'ã“ã©ã‚‚2äºº', 'å­ä¾›2äºº', 'å­ä¾›æœ‰ã‚Š(2äºº)', 'ã“ã©ã‚‚3äºº', 'å­ä¾›3äºº', 'ä¸æ˜', '2å…', '3å…',
       'å­ä¾›æœ‰ã‚Š(3äºº)'], dtype=object)

In [100]:
child_replace_map = {
    "å­ä¾›ãªã—": "å­ä¾›ãªã—",
    "å­ä¾›ç„¡ã—": "å­ä¾›ãªã—",
    "ç„¡å­": "å­ä¾›ãªã—",
    "å­ä¾›ã‚¼ãƒ­": "å­ä¾›ãªã—",
    "éè‚²å…å®¶åº­": "å­ä¾›ãªã—",
    "å­è‚²ã¦çŠ¶æ³ä¸æ˜": "ä¸æ˜",
    "å­ã®æ•°ä¸è©³": "ä¸æ˜",
    "å­ä¾›ã®æ•°ä¸æ˜": "ä¸æ˜",
    "ã‚ã‹ã‚‰ãªã„": "ä¸æ˜",
    "ä¸æ˜": "ä¸æ˜",
    "ã“ã©ã‚‚1äºº": "å­ä¾›1äºº",
    "1å…": "å­ä¾›1äºº",
    "å­ä¾›1äºº": "å­ä¾›1äºº",
    "å­ä¾›æœ‰ã‚Š(1äºº)": "å­ä¾›1äºº",
    "å­ä¾›æœ‰ã‚Š": "ä¸æ˜",  # å­ä¾›æœ‰ã‚Šã ã‘ã§ã¯äººæ•°ãŒä¸æ˜
    "ã“ã©ã‚‚2äºº": "å­ä¾›2äºº",
    "2å…": "å­ä¾›2äºº",
    "å­ä¾›2äºº": "å­ä¾›2äºº",
    "å­ä¾›æœ‰ã‚Š(2äºº)": "å­ä¾›2äºº",
    "ã“ã©ã‚‚3äºº": "å­ä¾›3äºº",
    "3å…": "å­ä¾›3äºº",
    "å­ä¾›3äºº": "å­ä¾›3äºº",
    "å­ä¾›æœ‰ã‚Š(3äºº)": "å­ä¾›3äºº",
}

In [101]:
# å­ä¾›ã®æœ‰ç„¡ãƒ»æ•°ã‚’ç½®æ›ã™ã‚‹é–¢æ•°
def replace_child_status(child_status):
    return child_replace_map.get(child_status, child_status)

In [102]:
train_df["customer_child_replace"] = train_df["customer_child"].apply(
    replace_child_status
)
print(train_df["customer_child_replace"].unique())
print(train_df.groupby(["customer_child_replace", "customer_child"]).size())
train_df["customer_child"] = train_df["customer_child_replace"]
train_df = train_df.drop(["customer_child_replace"], axis=1)

['å­ä¾›ãªã—' 'ä¸æ˜' 'å­ä¾›1äºº' 'å­ä¾›2äºº' 'å­ä¾›3äºº']
customer_child_replace  customer_child
ä¸æ˜                      ã‚ã‹ã‚‰ãªã„               5
                        ä¸æ˜                 10
                        å­ã®æ•°ä¸è©³               4
                        å­ä¾›ã®æ•°ä¸æ˜             13
                        å­ä¾›æœ‰ã‚Š              160
                        å­è‚²ã¦çŠ¶æ³ä¸æ˜             5
å­ä¾›1äºº                    1å…                113
                        ã“ã©ã‚‚1äºº             410
                        å­ä¾›1äºº              859
                        å­ä¾›æœ‰ã‚Š(1äºº)           94
å­ä¾›2äºº                    2å…                 51
                        ã“ã©ã‚‚2äºº             229
                        å­ä¾›2äºº              434
                        å­ä¾›æœ‰ã‚Š(2äºº)           49
å­ä¾›3äºº                    3å…                 10
                        ã“ã©ã‚‚3äºº              20
                        å­ä¾›3äºº               35
                        å­ä¾›æœ‰ã‚Š(3äºº)            3
å­ä¾›ãªã—                    å­ä¾›ãªã—              539
                        å­ä¾›ã‚¼ãƒ­               75
                        å­ä¾›ç„¡ã—              252
                        ç„¡å­                 57
                        éè‚²å…å®¶åº­              62
dtype: int64

In [103]:
test_df["customer_child_replace"] = test_df["customer_child"].apply(
    replace_child_status
)
print(test_df["customer_child_replace"].unique())
print(test_df.groupby(["customer_child_replace", "customer_child"]).size())
test_df["customer_child"] = test_df["customer_child_replace"]
test_df = test_df.drop(["customer_child_replace"], axis=1)

['å­ä¾›ãªã—' 'ä¸æ˜' 'å­ä¾›1äºº' 'å­ä¾›2äºº' 'å­ä¾›3äºº']
customer_child_replace  customer_child
ä¸æ˜                      ä¸æ˜                  7
                        å­ã®æ•°ä¸è©³               1
                        å­ä¾›ã®æ•°ä¸æ˜             26
                        å­ä¾›æœ‰ã‚Š              161
                        å­è‚²ã¦çŠ¶æ³ä¸æ˜             3
å­ä¾›1äºº                    1å…                107
                        ã“ã©ã‚‚1äºº             422
                        å­ä¾›1äºº              840
                        å­ä¾›æœ‰ã‚Š(1äºº)          100
å­ä¾›2äºº                    2å…                 57
                        ã“ã©ã‚‚2äºº             227
                        å­ä¾›2äºº              487
                        å­ä¾›æœ‰ã‚Š(2äºº)           66
å­ä¾›3äºº                    3å…                  4
                        ã“ã©ã‚‚3äºº              18
                        å­ä¾›3äºº               35
                        å­ä¾›æœ‰ã‚Š(3äºº)            4
å­ä¾›ãªã—                    å­ä¾›ãªã—              499
                        å­ä¾›ã‚¼ãƒ­               50
                        å­ä¾›ç„¡ã—              255
                        ç„¡å­                 64
                        éè‚²å…å®¶åº­              56
dtype: int64

## å‡ºåŠ›

In [104]:
train_df.to_csv(path_input + "cleaned_train.csv", header=True, index=None)
test_df.to_csv(path_input + "cleaned_test.csv", header=True, index=None)